body {
  margin: 0;
  font-family: Circular, Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
	color: white;
}

.center-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pad-vertical {
	padding-top: 15px;
	padding-bottom: 15px;
}
